SUBSYSTEM!="sound", GOTO="my_usb_audio_end"
ACTION!="add", GOTO="my_usb_audio_end"

DEVPATH=="/devices/pci0000:00/0000:00:14.0/usb3/3-1/3-1.1/3-1.1:1.0/sound/card?", ATTR{id}="iLuv1"
DEVPATH=="/devices/pci0000:00/0000:00:14.0/usb3/3-1/3-1.3/3-1.3:1.0/sound/card?", ATTR{id}="iLuv2"
DEVPATH=="/devices/pci0000:00/0000:00:14.0/usb3/3-1/3-1.4/3-1.4.2/3-1.4.2:1.0/sound/card?", ATTR{id}="iLuv3"

LABEL="my_usb_audio_end"


