[run_params]
data_dir = /data/behavior/
stimuli_dir = /data/stimuli/
birdname=red46green62
stimset_1=silent_stimset
stimset_0=silent_stimset
#stimset_2=exa1_song_a_decomp_probes
mode = rewarded_preference_sequence
trial_generator = adaptive_preference
box = box_1
timeout_light = True
withold_response = False
timeout_period = 30
max_trial_time = 5
feed_time = 5


