[run_params]
#data_dir = /home/jknowles/Desktop/
#stimuli_dir = /home/jknowles/Desktop/
birdname=test
stimset_0=exa1_motif_stimset_a
stimset_1=exa1_motif_stimset_b_2
#stimset_2=exa1_song_a_decomp_probes
mode = discrimination_laser
trial_generator = standard_laser
box = box_1
timeout_light = True
withold_response = True
timeout_period = 30
max_trial_time = 5
feed_time = 5
laser_occurance = 50
pulse_period = 100
pulse_width = 50
