[run_params]
birdname=test
mode = playback_and_count
stimset_0 = exa2_stimset_a
stimset_1 = exa2_stimset_b
stimset_2 = exa1_motif_stimset_a
probe_occurance = 10
data_dir = /home/doupelab/data/behavior/
stimuli_dir = /home/doupelab/data/stimuli/
box = box_3
trial_generator = playback
stimet_occurance = [0.5 0.5]
delay_time = 5   
feed_time = 5
isi_parameter = 10
isi_disribution = exponential

