[run_params]
birdname=sk_test1
mode = tutoring
arduino_model=nano328
stimset_0 = exa1_motif_stimset_b_30
#stimset_1 = exa1_motif_stimset_b_30
trial_generator = single_playback
data_dir = /home/brainard/data
stimuli_dir = /home/brainard/src/behavior_controller/
box = box_1
#set_times = [7, 12, 17]
set_times = [14]
allowed_songs_per_session = 10
timeout_period = 2

[record_params]
#birdname=sk_test1
sound_card = "usbaudio_1"
chunk = 1024 
threshold = 6000
silence_limit = 0.5
prev_audio = 1
min_dur = 1
#outdir = .
