[run_params]
birdname=sk_test
mode = playback_and_count
stimset_0 = SK_test_originalsong
stimset_1 = SK_test_modified
stimset_2 = SK_silence
probe_occurance = 0
data_dir = /home/doupelab/data/behavior/
stimuli_dir = /home/doupelab/data/stimuli/
box = box_3
trial_generator = playback
stimset_occurance = [0.9, 0.1]
delay_time = 2   
feed_time = 8
isi_parameter = 20
isi_disribution = exponential

