[run_params]
data_dir = /home/jknowles/data/doupe_lab/behavior/
stimuli_dir = /home/jknowles/data/doupe_lab/stimuli/
birdname=test
stimset_0=bsp_expanded_stimset_v1
#stimset_1=bsp_10p5_ss_stimset
#stimset_2=exa1_song_a_decomp_probes
mode = interleaved_video_preference_assay
trial_generator = interleaved_video_preference
timeout_light = True
withold_response = False
timeout_period = 5
max_trial_time = 5
camera_idx = 3
camera_plot = True
#feed_time = 5
camera_bounds = [250, 400]

[record_params]
record_audio = True
soundcard = 0
threshold = 10000
silence_limit = 0.5
min_dur = 1
max_dur = 10
rate = 44100
