[run_params]
data_dir = /home/jknowles/data/doupe_lab/behavior/
stimuli_dir = /home/jknowles/data/doupe_lab/stimuli/
birdname=test
stimset_0=bsp_expanded_stimset_v1
#stimset_1=bsp_10p5_ss_stimset
#stimset_2=exa1_song_a_decomp_probes
mode = interleaved_video_preference_assay
trial_generator = interleaved_video_preference
timeout_light = True
withold_response = False
timeout_period = 30
max_trial_time = 5
camera_idx = 0
camera_plot = True
feed_time = 5
camera_bounds = [250, 400]

[record_params]
record_audio = 1
soundcard = 1
outdir = /home/jknowles/data/ardata/
threshold = 25000
silence_limit = 1
min_dur = 0.1
max_dur = 10
rate = 44100
