<html>
  <head>
    <title>Doupe Birdbox</title>
    <script data-main="{{ url_for('static', filename='js/main')}}" src="{{ url_for('static', filename='js/vendor/requirejs/require.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/application.css') }}">
  </head>
  <body>
    <div id="inputs">
      Birdname: <input type="text" name="birdname" id="birdname"></br>
      Stimset A: <input type="text" name="stimsetb" id="stimseta"></br>
      Stimset B: <input type="text" name="stimsetb" id="stimsetab"></br>    
    </div></br>
    <div id ="buttons"></div></br>
    <div id="rates"></div>
  </body>

</html>
